body, html {
    height: 100vh;
    margin: 0;
  }

  @font-face {
    font-family: Oswald;
    src: url(/Fonts/oswald-regular.woff) format('woff');
  }

  .profile-img {
    border-radius: 50%; /* Makes the image circular */
    width: 250px; /* Adjust the size of the image */
    height: 250px; /* Adjust the size of the image */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container takes up the full viewport height */
    margin-top: 15px;
  }

  .link-img {
    border-radius: 50%; /* Makes the image circular */
    width: 65px; /* Adjust the size of the image */
    height: 65px; /* Adjust the size of the image */
  }
  
  .txt-center {
    text-align: center; /* Center the text within the <p> tag */
    margin-top: -5px; /* Adjust the margin as needed */
  }

  .txt-box {
    border: 2px solid black; /* Border for the wireframe box */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
  }

  .image-container:hover .note {
    opacity: 1; /* Show the note when hovering over the image */
  }

  .link-container {
    display: flex;
    align-items: center;
  }
  
  .link-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px; /* Adjust margin between each link and its text */
  }

  .link-container h3 {
    margin-top: 5px; /* Adjust vertical spacing between image and text */
    margin-bottom: 0; /* Remove default margin */
  }

  